<%- include('partials/header.ejs'); %>

    <div class="allBlogs">
      
        <% if (locals.blogs.length > 0) {%>
            <form action="edit" method="post">

            <%for(var i = locals.blogs.length - 1; i>=0; i--){ %>
                <div class="readingBlog">
                    <a class="readMore" onclick="display(`<%=locals.blogs[i].title%>`, `<%=locals.blogs[i].content%>`)">
                        <h1 class ="blogTitle">
                            <%= locals.blogs[i].title %>
                        </h1>
                        <p>
                            <%= locals.blogs[i].content.slice(0,450) %>...
                            <span>Read more</span>
                        </p>
                    </a>
                </div> 
                <div class="editDelete">
                    <button  type="submit" name = "edit" value = '<%=locals.blogs[i]._id%>'>Edit</button> 
                    &nbsp
                    <button type="submit" name = "delete" value = '<%=locals.blogs[i].id%>'>Delete</button>
                </div>            
                <hr>
            <%};%>
        </form>
        <%}else{%>
            <div class="noBlog">
                <h1 class ="blogTitle">
                    No blogs to show yet!
                </h1>
                <p>
                    Start writing your own blogs <a href="/write">here</a>
                </p>
            </div>
        <%}%>
    </div>

    <div class="parentBLOG">
        <div id="blogg" class="singleBlog">
            <button id="close" onclick="closeBlogg()"><i class="fa-solid fa-xmark"></i></button>
            <h1 id="displayTitle"></h1>
            <p id="displayContent" ></p>
        </div>
    </div>

    <script>
        var allbtns = document.querySelectorAll('.readMore');
        //console.log(allbtns);
        function display(title, i){
            console.log(title);
            console.log(i);
            document.getElementById('displayTitle').innerText= title;
            document.getElementById('displayContent').innerText= i;
            document.getElementById('blogg').classList.add("show");
        };

        function closeBlogg(){
            document.getElementById('blogg').classList.remove("show"); 
        }
    </script>

<%- include('partials/footer.ejs') %>

